html,
body {
    height: 100%;
    font-family: verdana;

}
/* xs < 768 */
@media screen and (max-width: 767px) {
    body, dropdown-menu li a {
        font-size: 0.9em;
    }
     .single-item div > span{
        display:none;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body, dropdown-menu li a {
        font-size: 1em;
    }
    .single-item div > span{
        display:none;
    }
    
}

/* md */
@media screen and (min-width: 992px) {
    body, dropdown-menu li a {
        font-size: 1.2em;
        
    }
    .single-item div > span{
        display:none;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body, dropdown-menu li a {
        font-size: 1.3em;
    }
}



p {
    text-align:justify;
    margin-bottom:6px;
    line-height:18px;

}
.row .col-lg-4 p {

}

h2{

    background:#ddd;
    padding: 6px;
    border-radius: 3px;
    display:inline-block;
    margin-bottom:3px;
    font-size:11px;
    font-weight:bold;
    font-variant: small-caps;
    width:100%;

}
.single-item{
    margin:0px 12px;
}
.single-item div > span{
    background:#000;
    color:white;
    text-align:center;
    margin-bottom:0px;
    margin-top: 2px;
    display:inline-block;
    padding: 6px;
    width:100%;
}
big last{
    margin-top:6px; 
}





p.site-title{
    float:left;
    margin:45px 0px 0px;
    color:white;
    margin-left: -10px;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 120px 15px 20px;
}
img.pull-left {
    margin-right:10px;
}
.breadcrumb{

}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */

.navbar-fixed-top{
    min-height: 110px;
} 
.nav li{
    font-variant:small-caps
}
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
.dropdown-menu li a{
    font-size:11px !important;
} 

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.row > li {
    text-align:justify;
}
